In [1]:
import pandas as pd
path = pd.read_csv('titanic/train.csv')

In [2]:
path.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
path.isnull().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [4]:
path_age_clean = path.dropna(subset=['Age'])

In [15]:
# Заполнение пропущенных возрастов средним
path['Age'] = path['Age'].fillna(path['Age'].mean())
len(path['Age'])

891

In [14]:
# Заполнения пропущенных возрастов медианой
path["Age"] = path['Age'].fillna(path['Age'].median())

In [13]:
# Заполнение Embarked самым частым значением
path['Embarked'] = path['Embarked'].fillna(path['Embarked'].mode()[0])

In [16]:
# Замена 'male' -> 0, 'female'-> 1
path['Sex'] = path["Sex"].replace({'male': 0, 'female': 1})

In [17]:
path['Sex'] = path['Sex'].map({'male': 0, 'female': 1})

In [18]:
# удаление колонки Cabin, так как она почти пустая
path= path.drop(columns=['Cabin'])

In [20]:
# итог 
path.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex            891
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64